SolidWorks.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="xml">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="transactions">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="transaction">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="document">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="configuration">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element maxOccurs="unbounded" name="attribute">
                                  <xs:complexType>
                                    <xs:attribute name="name" type="xs:string" use="required" />
                                    <xs:attribute name="value" type="xs:string" use="required" />
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="references">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element maxOccurs="unbounded" name="document">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element name="configuration">
                                              <xs:complexType>
                                                <xs:sequence>
                                                  <xs:element maxOccurs="unbounded" name="attribute">
                                                    <xs:complexType>
                                                      <xs:attribute name="name" type="xs:string" use="required" />
                                                      <xs:attribute name="value" type="xs:string" use="required" />
                                                    </xs:complexType>
                                                  </xs:element>
                                                </xs:sequence>
                                                <xs:attribute name="name" type="xs:string" use="required" />
                                              </xs:complexType>
                                            </xs:element>
                                          </xs:sequence>
                                          <xs:attribute name="aliasset" type="xs:string" use="required" />
                                          <xs:attribute name="pdmweid" type="xs:unsignedShort" use="required" />
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                              <xs:attribute name="name" type="xs:string" use="required" />
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute name="aliasset" type="xs:string" use="required" />
                        <xs:attribute name="pdmweid" type="xs:unsignedShort" use="required" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="date" type="xs:unsignedInt" use="required" />
                  <xs:attribute name="type" type="xs:string" use="required" />
                  <xs:attribute name="vaultname" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>