SolidWorks/Resources/SolidWorks2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Root">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="Row">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="ID" type="xs:integer" />
              <xs:element name="DESCRIPTION" type="xs:string" />
              <xs:element name="MANUFACTURER" type="xs:string" />
              <xs:element name="PART_NUMBER" type="xs:string" />
              <xs:element name="INTERNAL_CODE" type="xs:string" />
              <xs:element name="QUANTITY" type="xs:double" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>